{
  "julia.environmentPath": "${workspaceFolder}",
  "julia.additionalArgs": [
    "--load=${workspaceFolder}/.julia-startup.jl"
  ],
  "vscode-remote-control.allowedCommands": {{allowed_commands_json}}
}
